Source: nymea-networkmanager
Section: utils
Priority: optional
Maintainer: Simon Stürz <simon.stuerz@guh.io>
Build-Depends: debhelper (>= 9.0.0),
  dpkg-dev (>= 1.16.1~),
  dh-systemd,
  qt5-default,
  qtbase5-dev,
  qtbase5-dev-tools,
  libqt5bluetooth5,
  qtconnectivity5-dev,
  libnymea-networkmanager-dev (>= 0.4.0),
  libnymea-gpio-dev
Standards-Version: 3.9.7

Package: nymea-networkmanager
Architecture: any
Depends: ${misc:Depends},
  libqt5network5,
  libqt5bluetooth5,
  network-manager,
  libnymea-networkmanager,
  libnymea-gpio
Description: Daemon for wireless configuration using bluetooth LE.
  This daemon allows to configure a wireless network using a bluetooth
  low energy gatt server. The tool is written in Qt 5.
