[Unit]
Description=Daemon for nymea to configure wifi network using a Bluetooth LE connection
Documentation=https://github.com/nymea/nymea-networkmanager
Wants=bluetooth.service NetworkManager.service
After=bluetooth.service NetworkManager.service

[Service]
ExecStart=/usr/bin/nymea-networkmanager -d
StandardOutput=journal
StandardError=journal
Restart=on-failure
Type=simple

[Install]
WantedBy=multi-user.target

