#!/usr/bin/make -f

export DH_VERBOSE=1
DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)

PREPROCESS_FILES := $(wildcard debian/*.in)

$(PREPROCESS_FILES:.in=): %: %.in
	sed 's,/@DEB_HOST_MULTIARCH@,$(DEB_HOST_MULTIARCH:%=/%),g' $< > $@

%:
	dh $@ --buildsystem=qmake --parallel --with systemd

override_dh_install: $(PREPROCESS_FILES:.in=)
	dh_install

override_dh_strip:
	dh_strip --dbg-package=libnymea-networkmanager-dbg

override_dh_auto_clean:
	dh_auto_clean
	rm -rf $(PREPROCESS_FILES:.in=)
