Source: nymea-networkmanager
Section: utils
Priority: optional
Maintainer: nymea GmbH <developer@nymea.io>
Standards-Version: 4.7.2
Build-Depends: debhelper,
  dpkg-dev,
  qt6-base-dev,
  qt6-base-dev-tools,
  qt6-connectivity-dev,
  libnymea-networkmanager-dev,
  libnymea-gpio-dev


Package: nymea-networkmanager
Architecture: any
Depends: ${misc:Depends},
  network-manager,
  libnymea-networkmanager,
  libnymea-gpio
Description: Daemon for wireless configuration using bluetooth LE.
  This daemon allows to configure a wireless network using a bluetooth
  low energy gatt server.
